.preguntaform{
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 5%;
    padding: 20px 30px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.95;
    width: 1200px ;
    height: 500px ;
  }

.preguntasbuttons{
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 5%;
    padding: 20px 30px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0.95;
    width: 1200px;
    height: 150px !important;
}

.preguntasbuttons a#colPreguntas.col {
    width: 70px !important;
    height: 70px !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
}

.preguntasbuttons button{
    width: 45px !important;
    height: 45px !important;
    margin-bottom: 15px;
    
}
