<!DOCTYPE html>
<html lang="es">

<head>
  {% block title %}
  <title>Autoescuela</title>
  {% endblock %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  {% load static %}
  <link rel="icon" href="{% static 'icono/iconoAutoescuela-removebg-preview.png' %}" sizes="16x16" type="image/png">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
  {% block sidebar %}
  <header>
    <nav class="navbar navbar-expand-md minavbar">
      <div class="container text-center">
        <a class="navbar-brand" >
          {% load static %}
          <img src="{% static 'icono/iconoAutoescuela-removebg-preview.png' %}" width="50px" />
           Autoescuela Lupita
        </a>
    </nav>
  </header>
  {% endblock %}
  {% block content %}
  {% if examen_list %}
  {% for e in examen_list %}
  {% for a in e.all_preguntas %}
  <div class="preguntaform">
    <form class="container" method="GET">
      <h3 class="text-center">Pregunta {{ forloop.counter }} de {{ e.all_preguntas|length }}</h3>
      <div class="row">
        <div class="col text-center">
          {% if a.imagen_pregunta %}
          <a> <img src="/media/{{a.imagen_pregunta}}" width="200px" height="200px"> </a>
          {% else %}
          {% load static %}
          <a> <img src="/static/icono/iconoAutoescuela-removebg-preview.png" width="200px" height="200px"> </a>
          {% endif %}
        </div>
      </div>
      <div class="col">
        <h5>{{ a.pregunta }}</h5>
        <div class="container row">
          {% for res in a.ordenar_respuestas %}
          <div class="form-check ">
            <input class="form-check-input" type="radio" name="flexRadioDefault"
              id="flexRadioDefault1{{a.numeracion_respuesta}}">
            <label class="form-check-label" for="flexRadioDefault1">
              {{res}}
            </label>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="container col">
          <div class="row" style="margin-bottom: 5px ;">
            <button type="submit" class="btn btn-primary">Siguiente</button>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary">Anterior</button>
          </div>
        </div>
      </div>
    </form>

  </div>
  {% endfor %}
  {% endfor %}
  {% endif %}
  {% endblock %}
</body>

</html>